<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Contact List</h1>
    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>mobile</td>
        </tr>
        <p th:each="contact : ${contact}">
            <tr>
                <td th:text="${contact.id}">id</td>
                <td th:text="${contact.name}">name</td>
                <td th:text="${contact.mobile}">mobile</td>
            </tr>
        </p>
    </table>
    
</body>
</html>